<!--
    ~ This file is licensed under the MIT License and is part of the "redirector" project.
    ~ Copyright (c) 2019 Tim Kempe
    ~ Copyright (c) 2019 Daniel Riegler
    ~
    ~ Permission is hereby granted, free of charge, to any person obtaining a copy
    ~ of this software and associated documentation files (the "Software"), to deal
    ~ in the Software without restriction, including without limitation the rights
    ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    ~ copies of the Software, and to permit persons to whom the Software is
    ~ furnished to do so, subject to the following conditions:
    ~
    ~ The above copyright notice and this permission notice shall be included in all
    ~ copies or substantial portions of the Software.
    ~
    ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    ~ SOFTWARE.
-->

<!--suppress HtmlUnknownTarget -->
<html lang="en">

    {{{ components.head }}}

    <body>

    <!-- main content container -->
    <div id="container" class="uk-animation-fade">
        <!-- centered content container -->
        <div class="uk-position-center uk-text-center">
            {{{ components.heading }}}
            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: link"></span>
                        <label>
                            <input id="location" class="uk-input" type="text" placeholder="https://">
                        </label>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: tag"></span>
                        <label>
                            <input id="key" class="uk-input" type="text" placeholder="{{ key }}">
                        </label>
                    </div>
                </div>
                <div class="uk-margin">
                    {{#if debug}}
                        <button type="button" onclick="submit('')">Submit</button>
                    {{else}}
                        <div class="g-recaptcha" data-callback="submit" data-sitekey="{{ site-key }}"></div>
                    {{/if}}
                </div>
            </form>

            <h4>Your shortened url:</h4>
            <div class="uk-margin">
                <div class="uk-inline">
                    <label>
                        <input id="output" class="uk-input" type="text" disabled>
                    </label>
                </div>
                <span uk-icon="copy" uk-tooltip="Copy to clipboard" onclick="alert('lol')"></span>
            </div>
        </div>
    </div>

    {{{ components.footer }}}

    {{{ components.scripts }}}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="js/app/index.js"></script>

    </body>

</html>